*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f5f5f5aa;
  border-bottom: 1px solid #ccc;

  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 60px;
}
header h1{
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;

}
header .wrapheader{
  display: flex;
  align-items: center;
  min-width: 1200px;
  padding: 0rem 2rem;
}
header .wrapheader div:last-child{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}
header .wrapheader div:first-child{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;

}
nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;

}
nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
}
main{
  margin-top: 60px;
  padding: 1rem 2rem;
  width: 1200px;
  min-width: 500px;
  height: 100vh;
  margin: auto;
  background-color: #eeeeee;
}

